Hello C#/bin/Debug/net9.0/Hello C#.dll
Hello C#/bin/Debug/net9.0/Hello C#.exe
Hello C#/bin/Debug/net9.0/Hello C#.pdb
Hello C#/obj/Debug/net9.0/apphost.exe
Hello C#/obj/Debug/net9.0/Hello C#.AssemblyInfo.cs
Hello C#/obj/Debug/net9.0/Hello C#.AssemblyInfoInputs.cache
Hello C#/obj/Debug/net9.0/Hello C#.csproj.FileListAbsolute.txt
Hello C#/obj/Debug/net9.0/Hello C#.dll
Hello C#/obj/Debug/net9.0/Hello C#.pdb
Hello C#/obj/Debug/net9.0/Hello C#.sourcelink.json
Hello C#/obj/Debug/net9.0/ref/Hello C#.dll
Hello C#/obj/Debug/net9.0/refint/Hello C#.dll
